<meta charset="UTF-8">
<fieldset >
	<legend>Client</legend>
	<table class="table table-striped">
		<tr>
			<th>Identifiant</th>
			<th>Titre</th>
			<th>Siret</th>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Rue</th>
			<th>Code Postal</th>
			<th>Ville</th>
			<th>Pays</th>
			<th>Email</th>
			<th>Telephone</th>
			<th>Fax</th>
			
			<th></th>
		</tr>
		<tr ng-repeat="client in clientCtrl.clients">
			<td>{{client.id}}</td>
			<td>{{client.titre}}</td>
			<td>{{client.siret}}</td>
			<td>{{client.nom}}</td>
			<td>{{client.prenom}}</td>
			<td>{{client.adresse.adresse}}</td>
			<td>{{client.adresse.codePostal}}</td>
			<td>{{client.adresse.ville}}</td>
			<td>{{client.adresse.pays}}</td>
			<td>{{client.email}}</td>
			<td>{{client.numeroTel}}</td>
			<td>{{client.numeroFax}}</td>
			
			
			<td><button type="button" class="btn btn-info btn-xs"
					ng-click="clientCtrl.edit(client.id)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-danger btn-xs"
					ng-click="clientCtrl.remove(client.id)">
					<span class="glyphicon glyphicon-trash"></span>
				</button></td>
		</tr>
		<tr>
			<td colspan="3"><button type="button"
					class="btn btn-success btn-md" ng-click="clientCtrl.addClientPhysique()">
					New Client Physique
				</button></td>
				<td colspan="4"><button type="button"
					class="btn btn-success btn-md" ng-click="clientCtrl.addClientMoral()">
					New Client Moral
				</button></td>
				<td colspan="5"><button type="button"
					class="btn btn-success btn-md" ng-click="clientCtrl.addClientEI()">
					New Client EI
				</button></td>
				</tr>
	</table>

	<div class="panel panel-default" ng-show="clientCtrl.client">
		<div class="panel-heading">Edition du client</div>
		<div class="panel-body">
			<form name="clientCtrl.clientForm" class="form-horizontal" novalidate>
				<input type="hidden" id="id"
							ng-model="clientCtrl.client.id">
							<input type="hidden" id="version"
							ng-model="clientCtrl.client.version">
				
				
				
				<div ng-show="clientCtrl.isType('Physique')" class="form-group">
					<label class="control-label col-sm-2" for="titre">titre:</label>
					<div class="col-sm-10">
						<select id="titre" ng-model="clientCtrl.client.titre"
							class="form-control" required>
							<option value="">Choisir un titre</option>
							<option value="{{titre}}" ng-repeat="titre in homeCtrl.titrePhysique">{{titre}}</option>
						</select>
					</div>
				</div>
				
				<div ng-show="clientCtrl.isType('Moral')" class="form-group">
					<label  class="control-label col-sm-2" for="titre">titre:</label>
					<div class="col-sm-10">
						<select id="titre" ng-model="clientCtrl.client.titre"
							class="form-control" required>
							<option value="">Choisir un titre</option>
							<option value="{{titre}}" ng-repeat="titre in homeCtrl.titreMoral">{{titre}}</option>
						</select>
					</div>
				</div>
				
				<div ng-show="clientCtrl.isType('EI')" class="form-group">
					<label class="control-label col-sm-2" for="titre">titre:</label>
					<div class="col-sm-10">
						<select id="titre" ng-model="clientCtrl.client.titre"
							class="form-control" required>
							<option value="">Choisir un titre</option>
							<option value="{{titre}}" ng-repeat="titre in homeCtrl.titrePhysique">{{titre}}</option>
						</select>
					</div>
				</div>
				
				<div ng-show="clientCtrl.isType('Moral')" class="form-group">
					<label class="control-label col-sm-2" for="siret">Siret:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="siret"
							ng-model="clientCtrl.client.siret">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="nom">Nom:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nom"
							ng-model="clientCtrl.client.nom" required>
					</div>
				</div>
				
				<div ng-show="clientCtrl.isType('Physique')" class="form-group">
					<label class="control-label col-sm-2" for="prenom">Prenom:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="prenom"
							ng-model="clientCtrl.client.prenom">
					</div>
				</div>
				
				<div ng-show="clientCtrl.isType('EI')" class="form-group">
					<label class="control-label col-sm-2" for="prenom">Prenom:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="prenom"
							ng-model="clientCtrl.client.prenom">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="rue">Rue:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="rue"
							ng-model="clientCtrl.client.adresse.adresse">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="codePostal">Code Postal:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="codePostal"
							ng-model="clientCtrl.client.adresse.codePostal">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="ville">Ville:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="ville"
							ng-model="clientCtrl.client.adresse.ville">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="pays">Pays:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="pays"
							ng-model="clientCtrl.client.adresse.pays">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">@:</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email"
							ng-model="clientCtrl.client.email">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="numeroTel">Téléphone:</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="numeroTel"
							ng-model="clientCtrl.client.numeroTel">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="numeroFax">Fax:</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="numeroFax"
							ng-model="clientCtrl.client.numeroFax">
					</div>
				</div>
			
			
				<div class="form-group">
					<div ng-show="clientCtrl.isType('Physique')" class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success"
							ng-click="clientCtrl.clientForm.$valid && clientCtrl.saveClientPhysique()">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
					</div>
					
					<div ng-show="clientCtrl.isType('Moral')" class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success"
							ng-click="clientCtrl.clientForm.$valid && clientCtrl.saveClientMoral()">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
					</div>
					
					<div ng-show="clientCtrl.isType('EI')" class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success"
							ng-click="clientCtrl.clientForm.$valid && clientCtrl.saveClientEI()">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
					</div>
					
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-default"
							ng-click="clientCtrl.cancel()">Annuler</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</fieldset>