<meta charset="UTF-8">
<fieldset>
	<legend>CompagnieAerienne</legend>
	<table class="table table-striped">
		<tr>
			<th>Identifiant: </th>
			<th>Nom: </th>			
			<th></th>
		</tr>
		<tr ng-repeat="compagnieAerienne in compagnieAerienneCtrl.compagniesAerienne">
			<td>{{compagnieAerienne.id}}</td>
			<td>{{compagnieAerienne.version}}</td>
			<td>{{compagnieAerienne.nom}}</td>
			
			<td><button type="button" class="btn btn-info btn-xs"
					ng-click="CompagnieAerienneCtrl.edit(compagnieAerienne.id)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-danger btn-xs"
					ng-click="compagnieAerienneCtrl.remove(compagnieAerienne.id)">
					<span class="glyphicon glyphicon-trash"></span>
				</button></td>
		</tr>
		<tr>
			<td colspan="11"><button type="button"
					class="btn btn-success btn-md" ng-click="compagnieAerienneCtrl.add()">
					<span class="glyphicon glyphicon-plus"></span>
				</button></td>
	</table>

	<div class="panel panel-default" ng-show="compagnieAerienneCtrl.compagnieAerienne">
		<div class="panel-heading">Editer une compagnie aerienne :
			{{compagnieAerienneForm.$valid}}</div>
		<div class="panel-body">
			<form name="compagnieAerienneCtrl.compagnieAerienneForm" class="form-horizontal" novalidate>
				<input type="hidden" id="id" ng-model="compagnieAerienneCtrl.compagnieAerienne.id">
				<input type="hidden" id="version" ng-model="compagnieAerienneCtrl.compagnieAerienne.version">
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="nom">Nom:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nom"
							ng-model="compagnieAerienneCtrl.compagnieAerienne.nom" required>
					</div>
				</div>
				
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success"
							ng-click="compagnieAerienneCtrl.compagnieAerienneForm.$valid && compagnieAerienneCtrl.save()">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
					</div>
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-default"
							ng-click="compagnieAerienneCtrl.cancel()">Annuler</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</fieldset>
