<meta charset="UTF-8">
<fieldset >
	<legend>Passager</legend>
	<table class="table table-striped">
		<tr>
			<th>Identifiant</th>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Rue</th>
			<th>CodePostal</th>
			<th>Ville</th>
			<th>Pays</th>
			
			<th></th>
		</tr>
		<tr ng-repeat="passager in passagerCtrl.passagers">
			<td>{{passager.id}}</td>
			<td>{{passager.nom}}</td>
			<td>{{passager.prenom}}</td>
			<td>{{passager.adresse.adresse}}</td>
			<td>{{passager.adresse.codePostal}}</td>
			<td>{{passager.adresse.ville}}</td>
			<td>{{passager.adresse.pays}}</td>
			
			<td><button type="button" class="btn btn-info btn-xs"
					ng-click="passagerCtrl.edit(passager.id)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-danger btn-xs"
					ng-click="passagerCtrl.remove(passager.id)">
					<span class="glyphicon glyphicon-trash"></span>
				</button></td>
		</tr>
		<tr>
			<td colspan="8"><button type="button"
					class="btn btn-success btn-md" ng-click="passagerCtrl.add()">
					<span class="glyphicon glyphicon-plus"></span>
				</button></td>
	</table>

	<div class="panel panel-default" ng-show="passagerCtrl.passager">
		<div class="panel-heading">Edition du passager</div>
		<div class="panel-body">
			<form name="passagerCtrl.passagerForm" class="form-horizontal" novalidate>
				<input type="hidden" id="id"
							ng-model="passagerCtrl.passager.id">
							<input type="hidden" id="version"
							ng-model="passagerCtrl.passager.version">
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="nom">Nom:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nom"
							ng-model="passagerCtrl.passager.nom" required>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="prenom">Prenom:</label>
					<div class="col-sm-10">

						<input type="text" class="form-control" id="prenom"
							ng-model="passagerCtrl.passager.prenom">

					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="rue">Rue:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="rue"
							ng-model="passagerCtrl.passager.adresse.adresse">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="codePostal">Code Postal:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="codePostal"
							ng-model="passagerCtrl.passager.adresse.codePostal">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="ville">Ville:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="ville"
							ng-model="passagerCtrl.passager.adresse.ville">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="pays">Pays:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="pays"
							ng-model="passagerCtrl.passager.adresse.pays">
					</div>
				</div>
			
			
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success"
							ng-click="passagerCtrl.passagerForm.$valid && passagerCtrl.save()">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
					</div>
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-default"
							ng-click="passagerCtrl.cancel()">Annuler</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</fieldset>