<meta charset="UTF-8">
<fieldset>
	<legend>Reservation</legend>
	<table class="table table-striped">
		<tr>
			<th>Numéro</th>
			<th>Date</th>
			<th>Vol</th>
			<th>Passager</th>
			<th>Client</th>
			<th></th>
		</tr>
		<tr ng-repeat="reservation in reservationCtrl.reservations">
			<td>{{reservation.numero}}</td>
			<td>{{reservation.date | date:'dd/MM/yyyy'}}</td>
			<td>{{reservation.vol.id}}</td>
			<td>{{reservation.passager.id}}</td>
			<td>{{reservation.client.id}}</td>
			<td><button type="button" class="btn btn-info btn-xs"
					ng-click="reservationCtrl.edit(reservation.id)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-danger btn-xs"
					ng-click="reservationCtrl.remove(reservation.id)">
					<span class="glyphicon glyphicon-trash"></span>
				</button></td>
		</tr>
		<tr>
			<td colspan="11">
				<button type="button" class="btn btn-success btn-md"
					ng-click="reservationCtrl.add()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</td>
		</tr>
	</table>

	<div class="panel panel-default" ng-show="reservationCtrl.reservation">
		<div class="panel-heading">Edition de la reservation {{reservation.id}}</div>
		<div class="panel-body">
			<form name="reservationCtrl.reservationForm" class="form-horizontal"
				novalidate>
				<input type="hidden" id="id"
					ng-model="reservationCtrl.reservation.id"> <input
					type="hidden" id="version"
					ng-model="reservationCtrl.reservation.version">
				<div class="form-group">
					<label class="control-label col-sm-2" for="numero">Numéro</label>
					<div class="col-sm-10">
						<div class="col-sm-10">
							<input type="number" class="form-control" id="numero"
								ng-model="reservationCtrl.reservation.numero" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="nom">Date</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" id="date"
							ng-model="reservationCtrl.reservation.date" required>
					</div>
				</div>
					<div class="form-group">
					<label class="control-label col-sm-2" for="volId">Numero d'identifiant du vol</label>
					<div class="col-sm-10">
						<div class="col-sm-10">
							<input type="number" class="form-control" id="volId"
								ng-model="reservationCtrl.vol.id">
						</div>
					</div>
				</div>
					<div class="form-group">
					<label class="control-label col-sm-2" for="passagerId">Numero d'identifiant du passager</label>
					<div class="col-sm-10">
						<div class="col-sm-10">
							<input type="number" class="form-control" id="passagerId"
								ng-model="reservationCtrl.reservation.passager.id">
						</div>
					</div>
				</div>
					<div class="form-group">
					<label class="control-label col-sm-2" for="clientId">Numero d'identifiant du client</label>
					<div class="col-sm-10">
						<div class="col-sm-10">
							<input type="number" class="form-control" id="clientId"
								ng-model="reservationCtrl.reservation.client.id">
						</div>
					</div>
				</div>

				<div class="form-group">
					<button type="button" class="btn btn-success"
						ng-click="reservationCtrl.reservationForm.$valid && reservationCtrl.save()">
						<span class="glyphicon glyphicon-floppy-disk"></span>
					</button>
					<button type="button" class="btn btn-default"
						ng-click="reservationCtrl.cancel()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</form>
		</div>

	</div>

</fieldset>