<meta charset="UTF-8">
<fieldset>
	<legend>Villes</legend>
	<table class="table table-striped">
		<tr>
			<th>Id :</th>
			<th>Nom :</th>

		</tr>
		<tr ng-repeat="reservation in reservationCtrl.reservations">
			<td>{{ville.id}}</td>
			<td>{{ville.nom}}</td>
			<td><button type="button" class="btn btn-info btn-xs"
					ng-click="villeCtrl.edit(ville.id)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-danger btn-xs"
					ng-click="villeCtrl.remove(ville.id)">
					<span class="glyphicon glyphicon-trash"></span>
				</button></td>
		</tr>
		<tr>
			<td colspan="11"><button type="button"
					class="btn btn-success btn-md" ng-click="villeCtrl.add()">
					<span class="glyphicon glyphicon-plus"></span>
				</button></td>
	</table>
	
</fieldset>